/__config__.py
/.DS_Store
# local environment
oanda-platform/
# ignore account details
auth/
# ingnore pychache
__pycache__/
*.pyc
# ignore the log files
# logs/
*.txt
# vscode
.vscode/
# drawings
*.drawio
# ingnore local environment settings
.env
.pypirc
# pytest
.pytest_cache
# ignore scratchpad
oanda_v20_platform/interactive_scratchpad.py
# ignore notes
notes.md
# ignore nbformat settings
=4.2.0
# end
